<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springcloud.dao.OrderDao">

    <resultMap id="BaseResultMap" type="com.atguigu.cloud.api.entity.Order">
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="user_id" property="userId" jdbcType="BIGINT" />
        <id column="product_id" property="productId" jdbcType="BIGINT" />
        <id column="count" property="count" jdbcType="INTEGER" />
        <id column="money" property="money" jdbcType="DECIMAL"></id>
        <id column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <!--   主要是在主键是自增的情况下，添加成功后可以直接使用主键值，其中keyProperty的值是对象的属性值不是数据库表中的字段名-->
    <insert id="insert" parameterType="com.atguigu.cloud.api.entity.Order" useGeneratedKeys="true" keyProperty="id">
        insert into t_order(user_id,product_id,count,money,status) values (#{userId},#{productId},#{count},#{money},0);
    </insert>

    <update id="updateByPrimaryKey">
        update t_order set status = 1 where user_id =#{userId} and status=#{status};
    </update>
</mapper>